.main__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 220px);
	place-content: end;
	gap: 30px 70px;
	padding: 0 0 30px;
	height: 100vh;
}

.search {
	position: absolute;
	top: 64px;
	width: 25%;
}

