@use "../../styles/animations.scss" as *;

.loader {
	width: 350px;
	height: 350px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&::before {
		content: "";
		position: absolute;
		background: no-repeat center / cover url("sky2.jpg");

	height: 100vh;
		width: 100vw;
		filter: blur(3px);
		animation: fadeIn 1s ease-out forwards;
		z-index: -1;
	}
}

.cloud__left,
.cloud__right {
	width: 250px;
	height: 90px;
	background: #f2f9fe;
	background: linear-gradient(180deg, rgba(242, 249, 254, 1) 50%, rgba(214, 240, 253, 1) 100%);
	border-radius: 100px;
	position: absolute;
	animation: clouds 8s infinite;
	animation-timing-function: ease-in-out;
	z-index: 100;
}

.cloud__right {
	top: 195px;
	left: -90px;
}

.cloud__left {
	top: 85px;
	right: -55px;
	animation: clouds 12s infinite;
}

.left,
.right {
	position: absolute;
	background: #f2f9fe;
}

.left {
	width: 80px;
	height: 80px;
	top: -37px;
	left: 37px;
	border-radius: 100px;
	z-index: 90;
}

.right {
	width: 120px;
	height: 120px;
	top: -70px;
	right: 40px;
	border-radius: 200px;
}

.sun {
	width: 300px;
	height: 300px;
	background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
	background: linear-gradient(to right, #fcbb04, #fffc00);
	border-radius: 50%;
	display: inline;
	position: absolute;
	z-index: -1;
}

.sunshine {
	animation: sunshines 2s infinite;
}


