@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.list {
	display: grid;
	grid-column: span 2;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
	padding: $pd;
	color: $textColor;
	z-index: 100;
	@include setBackground;
}

.item {
	display: flex;
	flex-direction: column;
}

.week {
	margin-bottom: 5px;
}

.date {
	color: $darkenTextColor;
	margin-bottom: 10px;
}

.temp {
	margin-bottom: 20px;
}
.min_temp {
	color: $darkenTextColor;
}

.icon {
	margin-bottom: 5px;
}
