@use "./animations.scss" as *;

@mixin setBackground {
	/* From https://css.glass */
	// background: rgba(69, 93, 108, 0.22);
	// border-radius: 16px;
	// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	// backdrop-filter: blur(3.9px);
	// -webkit-backdrop-filter: blur(3.9px);
	// border: 1px solid rgba(69, 93, 108, 0.17);
	/* From https://css.glass */
	/* From https://css.glass */
	background: rgba(0, 0, 0, 0.22);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.9px);
	-webkit-backdrop-filter: blur(3.9px);
	border: 1px solid rgba(0, 0, 0, 0.17);

	animation: fadeUp 1s ease-out forwards;
}



