@use "../../styles/mixins.scss" as *;
@use "../../styles/animations.scss" as *;

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	height: 100vh;
}

.title {
	font-size: 50px;
	color: $textColor;
	text-shadow: 2px 1px #397aad;
}

.descr {
	font-size: 21px;
	font-weight: 600;
	color: #397aad;
	text-shadow: 1px 1px $textColor;
}

.btn {
	padding: 15px 30px;
	font-size: 17px;
	color: $textColor;
	@include setBackground;
	z-index: 1;
}
