@use "../../styles/mixins.scss" as *;
@use "../../styles/animations.scss" as *;

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	height: 100vh;
}

.title {
	font-size: 40px;
	color: $textColor;
	text-shadow: 1px 1px #397aad;
}

.subtitle {
	color: #397aad;
	text-shadow: 1px 1px $textColor;
}
