@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.current__weather {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding: 30px;
	@include setBackground;
	color: $textColor;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.sunrise {
	font-size: 18px;
}

.left,
.middle,
.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.date {
	font-size: 17px;
	font-weight: 600;
	&::first-letter {
		text-transform: uppercase;
	}
}

.temp {
	font-size: 65px;
	margin-bottom: 15px;
	color: #ffd259;
}

.feels {
	margin-bottom: 5px;
}

.descr {
	font-size: 13px;
	&::first-letter {
		text-transform: uppercase;
	}
}

.details {
	font-size: 20px;
}

.more__list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
